<div class="main">
    <div class="blockPath"><span class="blockPathBlocks" routerLink="/">Blocks</span><span class="blockPathSpacer"> • </span><span class="blockPathCurrentBlock"> Block {{block.data!.block_height}}</span></div>
    <div class="block" id="block">
        <p>Block: <span>{{block.data!.block_height}}</span><span class="previousBlock blockNavigation" [ngClass]="{'disabled': (block.data!.block_height-1 < 0)}"routerLink="/block/{{block.data!.block_height-1}}">←</span><span class="nextBlock blockNavigation" [ngClass]="{'disabled': (block.data!.block_height+1 >= block.data!.current_height)}" routerLink="/block/{{block.data!.block_height+1}}">→</span></p>
        <div class="blockInfo">
            <div id="blockCopyPopUp">Copied to Clipboard!</div>
            <div class="blockHash">Hash: <span (click)="copyText(block.data!.hash)">{{block.data!.hash.substring(0, 8)}}<span>•••</span>{{block.data!.hash.substring(block.data!.hash.length-8, block.data!.hash.length)}}</span></div>
            <div class="blockTxs">Transactions: <span>{{block.data!.txs.length}}</span></div>
            <div class="blockSize">Size: <span>{{(block.data!.block_height/1000).toFixed(2)}} kB</span></div>
            <div class="blockAge">Created: <span>{{block.data!.RelativeTime}}</span></div>
        </div>
        <p class="transactions">Transactions: <span class="count">{{block.data!.txs.length}}</span></p>
        <div class="tx" id="txItem{{i}}" routerLink="/transaction/{{tx.tx_hash}}" *ngFor="let tx of block.data!.txs; let i = index">
            <div class="txHash">Hash: <span>{{tx.tx_hash.substring(0, 8)}}<span>•••</span>{{tx.tx_hash.substring(tx.tx_hash.length-8, tx.tx_hash.length)}}</span></div>
            <div class="txPaymentID" *ngIf="tx.payment_id8 != ''">Payment ID: <span>{{tx.payment_id8}}</span></div>
            <div class="txPaymentID" *ngIf="tx.payment_id8 == ''">Payment ID: <span>-</span></div>
            <div class="txSize">Size: <span>{{(tx.tx_size/1000).toFixed(3)}} kB</span></div>
            <div class="coinbaseBadge" *ngIf="tx.coinbase == true">Coinbase</div>
        </div>

    </div>
</div>