@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --absolute: white;
    --background: rgb(16, 16, 16);
    --searchBar: rgb(255, 255, 255, 0.1);
    --searchBarText: rgba(255, 255, 255, 0.8);
    --searchBarBoxShadow: rgba(0, 0, 0, 0.269);
    --searchBarFocus: rgb(255, 255, 255, 0.12);
    --placeholder: rgb(255, 255, 255, 0.4);
    --infoContainerGradient: linear-gradient(180deg, rgba(16,16,16,1) 0%, rgba(16,16,16,0) 100%);
    --infoContainerGradientLeft: linear-gradient(90deg, rgba(16,16,16,1) 0%, rgba(16,16,16,0) 100%);
    --infoContainerGradientRight: linear-gradient(270deg, rgba(16,16,16,1) 0%, rgba(16,16,16,0) 100%);
    --infoItemText: rgb(255, 255, 255, 0.5);
    --infoItemTextSpan: rgb(255, 255, 255, 0.8);
    --infoItemBackground: #1F1F1F;
    --infoItemNetworkText: #66A9C9;
    --infoItemNetworkTextSpan: #83D7FF;
    --infoItemNetworkBackground: #101F26;
    --infoItemPriceUpText: #b8ffcdaf;
    --infoItemPriceUpTextSpan: #6eff9a;
    --infoItemPriceUpBackground: #00FF6610;
    --infoItemPriceDownText: #C66564;
    --infoItemPriceDownTextSpan: #FF8080;
    --infoItemPriceDownBackground: #412624;
    --blockItemBackground: #181716;
    --blockItemText: #8B8B8A;
    --blockItemTextSpan: #D1D1D0;
    --blockItemTextSpanSpan: #747473;
    --newBadgeBackground: #0e2428;
    --newBadgeText: #9af2ff;
    --coinbaseBadgeText: #83D7FF;
    --coinbaseBadgeBackground: #101F26;
    --confirmationSuccessBackground: #1A251D;
    --confirmationSuccessText: #A6FFC0;
    --confirmationSuccessTextSpan: #60926E;
    --confirmationSuccessButtonBackground: #5EF189;
    --confirmationSuccessButtonText: #0F3C1C;
    --confirmationConfirmingBackground: #25231A;
    --confirmationConfirmingText: #FFEBA6;
    --confirmationConfirmingTextSpan: #928760;
    --confirmationConfirmingButtonBackground: #ECCA2F;
    --confirmationConfirmingButtonText: #3E350E;

    --monospace: 'DM Mono';
    --sans-serif: 'Inter';
}

[data-theme="dark"] {
    --absolute: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    height: 110vh;
}

::-webkit-scrollbar {
    display: none;
}