@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Inter:wght@300;400;500;600;700&display=swap');

[data-theme="dark"] {
    --absolute: white;
    --background: rgb(16, 16, 16);
    --searchBar: rgb(255, 255, 255, 0.1);
    --searchBarText: rgba(255, 255, 255, 0.8);
    --searchBarBoxShadow: rgba(0, 0, 0, 0.269);
    --searchBarFocus: rgb(255, 255, 255, 0.12);
    --placeholder: rgb(255, 255, 255, 0.4);
    --infoContainerGradient: linear-gradient(180deg, rgba(16,16,16,1) 0%, rgba(16,16,16,0) 100%);
    --infoContainerGradientLeft: linear-gradient(90deg, rgba(16,16,16,1) 0%, rgba(16,16,16,0) 100%);
    --infoContainerGradientRight: linear-gradient(270deg, rgba(16,16,16,1) 0%, rgba(16,16,16,0) 100%);
    --infoItemText: rgb(255, 255, 255, 0.5);
    --infoItemTextSpan: rgb(255, 255, 255, 0.8);
    --infoItemBackground: #1F1F1F;
    --infoItemNetworkText: #66A9C9;
    --infoItemNetworkTextSpan: #83D7FF;
    --infoItemNetworkBackground: #101F26;
    --infoItemPriceUpText: #b8ffcdaf;
    --infoItemPriceUpTextSpan: #6eff9a;
    --infoItemPriceUpBackground: #00FF6610;
    --infoItemPriceDownText: #C66564;
    --infoItemPriceDownTextSpan: #FF8080;
    --infoItemPriceDownBackground: #412624;
    --blockItemBackground: #181716;
    --blockItemText: #8B8B8A;
    --blockItemTextSpan: #D1D1D0;
    --blockItemTextSpanSpan: #747473;
    --newBadgeBackground: #0e2428;
    --newBadgeText: #9af2ff;
    --coinbaseBadgeText: #83D7FF;
    --coinbaseBadgeBackground: #101F26;
    --confirmationSuccessBackground: #1A251D;
    --confirmationSuccessText: #A6FFC0;
    --confirmationSuccessTextSpan: #60926E;
    --confirmationSuccessButtonBackground: #5EF189;
    --confirmationSuccessButtonText: #0F3C1C;
    --confirmationConfirmingBackground: #25231A;
    --confirmationConfirmingText: #FFEBA6;
    --confirmationConfirmingTextSpan: #928760;
    --confirmationConfirmingButtonBackground: #ECCA2F;
    --confirmationConfirmingButtonText: #3E350E;
    --blocksListHoverFilter: brightness(1.35);
    --txPathCurrent: #83D7FF;
    --blockCopyPopup: #2d2d2d;

    --monospace: 'DM Mono';
    --sans-serif: 'Inter';
}

[data-theme="light"] {
    --absolute: black;
    --background: #EDEDED;
    --searchBar: #D5D5D5;
    --searchBarText: #7A7A7A;
    --searchBarBoxShadow: rgba(0, 0, 0, 0.05);
    --searchBarFocus: #c6c6c6;
    --placeholder: #7A7A7A;
    --infoContainerGradient: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(237,237,237,0) 100%);
    --infoContainerGradientLeft: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(237,237,237,0) 100%);
    --infoContainerGradientRight: linear-gradient(270deg, rgba(237,237,237,1) 0%, rgba(237,237,237,0) 100%);
    --infoItemText: #7D7D7D;
    --infoItemTextSpan: #454545;
    --infoItemBackground: #DCDCDC;
    --infoItemNetworkText: #6FCAF5;
    --infoItemNetworkTextSpan: #0097E0;
    --infoItemNetworkBackground: #CDEFFF;
    --infoItemPriceUpText: #81D399;
    --infoItemPriceUpTextSpan: #27B650;
    --infoItemPriceUpBackground: #D5EFDF;
    --infoItemPriceDownText: #FB9A9A;
    --infoItemPriceDownTextSpan: #FF8080;
    --infoItemPriceDownBackground: #F1D7D7;
    --blockItemBackground: #E3E3E3;
    --blockItemText: #818181;
    --blockItemTextSpan: #464646;
    --blockItemTextSpanSpan: rgba(116, 116, 115, 0.5);
    --newBadgeBackground: #9af2ff;
    --newBadgeText: #0e2428;
    --coinbaseBadgeText: #101F26;
    --coinbaseBadgeBackground: #83D7FF;
    --confirmationSuccessBackground: #C8F0D4;
    --confirmationSuccessText: #15AA40;
    --confirmationSuccessTextSpan: #67CE85;
    --confirmationSuccessButtonBackground: #9FE3B3;
    --confirmationSuccessButtonText: #006B1E;
    --confirmationConfirmingBackground: #FFF3B1;
    --confirmationConfirmingText: #C09600;
    --confirmationConfirmingTextSpan: #D6B947;
    --confirmationConfirmingButtonBackground: #F2E191;
    --confirmationConfirmingButtonText: #897107;
    --blocksListHoverFilter: brightness(0.95);
    --txPathCurrent: #009de6;
    --blockCopyPopup: #d2d2d2;

    --monospace: 'DM Mono';
    --sans-serif: 'Inter';
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    height: 110vh;
}

/*::-webkit-scrollbar {
    display: none;
}*/

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--infoItemText);
    border-radius: 999px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--infoItemTextSpan);
  }

  .material-symbols-sharp {
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 40
  }

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 40
}