.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--background);
    border-radius: 10px;
    p {
        color: var(--absolute);
    }
}

#block {
    color: white
}

.center-td {
    font-family: var(--monospace);
    color: var(--infoItemTextSpan)
}

.blocks {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    width: 900px;
    height: fit-content;
    background-color: var(--background);
    font-family: var(--sans-serif);
    font-size: 26px;
    font-weight: 700;
    color: var(--absolute);
}

.blockItem {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--blockItemBackground);
    line-height: 50px;
    text-align: left;
    font-family: var(--sans-serif);
    font-weight: 400;
    color: var(--blockItemText);
    font-size: 16px;
    transition: all 0.05s linear;
    border: 2px solid transparent;
    .blockHeight {
        margin-left: 20px;
        width: 184px;
        span {
            font-family: var(--monospace);
            color: var(--blockItemTextSpan);
        }
    }
    .blockHash {
        width: 295px;
        span {
            font-family: var(--monospace);
            color: var(--blockItemTextSpan);
            span {
                font-family: var(--monospace);
                color: var(--blockItemTextSpanSpan);
            }
        }
    }
    .blockTxs {
        width: 192px;
        span {
            color: var(--blockItemTextSpan);
        }
    }
    .blockAge {
        margin-right: 20px;
        width: 189px;
        span {
            color: var(--blockItemTextSpan);
        }
    }
    .newBadge {
        position: absolute;
        width: 45px;
        height: 24px;
        border-radius: 8px;
        background-color: var(--newBadgeBackground);
        color: var(--newBadgeText);
        line-height: 24px;
        text-align: center;
        font-family: var(--sans-serif);
        font-weight: 400;
        font-size: 12px;
        top: -8px;
        right: -20px;
    }
}

.blockItem:hover {
    filter: var(--blocksListHoverFilter);
    cursor: pointer;
    border: 2px solid var(--infoItemNetworkText);
}

.LatestBlocksSkeleton {
    margin: 26px 0;
    width: 175px;
    height: 31px;
    border-radius: 10px;
    background-color: var(--skeletonBackground);
    overflow: hidden;
    position: relative;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        opacity: var(--skeletonOpacity);
        filter: var(--skeletonFilter);
        background-image: linear-gradient(
          90deg,
          rgba(rgba(255, 255, 255), 0) 0,
          rgba(rgba(255, 255, 255), 0.2) 20%,
          rgba(rgba(255, 255, 255), 0.5) 60%,
          rgba(rgba(255, 255, 255), 0)
        );
        animation: shimmer 1s infinite ease-in-out;
        content: '';
      }
}

.skeletonDiv {
    display: flex;
    align-items: center;
}

.skeleton {
    height: 25px;
    border-radius: 8px;
    background-color: var(--skeletonItem);
    overflow: hidden;
    position: relative;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        opacity: var(--skeletonOpacity);
        filter: var(--skeletonFilter);
        background-image: linear-gradient(
          90deg,
          rgba(rgba(255, 255, 255), 0) 0,
          rgba(rgba(255, 255, 255), 0.2) 20%,
          rgba(rgba(255, 255, 255), 0.5) 60%,
          rgba(rgba(255, 255, 255), 0)
        );
        animation: shimmer 1s infinite ease-in-out;
        content: '';
      }
}

.skeletonHeight {
    width: 130px;
}

.skeletonHash {
    width: 240px;
}

.skeletonTxs {
    width: 135px;
}

.skeletonAge {
    width: 210px;
}

@keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  } 

@media only screen and (max-width: 950px) {

    .blocks {
        row-gap: 15px;
        width: 550px;
        font-size: 28px;
    }
    
    .blockItem {
        flex-wrap: wrap;
        height: 120px;
        line-height: 60px;
        font-size: 18px;
        .blockHeight {
            margin-left: 20px;
            width: 192px;
        }
        .blockHash {
            width: 295px;
        }
        .blockTxs {
            margin-left: 20px;
        }
        .blockAge {
            width: 295px;
        }
    }
}

@media only screen and (max-width: 590px) {

    .blocks {
        width: 450px;
    }
    
    .blockItem {
        height: 150px;
        line-height: 50px;
        .blockHeight {
            margin-left: 15px;
            width: 350px;
        }
        .blockHash {
            margin-left: 15px;
            width: 350px;
        }
        .blockTxs {
            display: none;
        }
        .blockAge {
            margin-left: 15px;
            width: 350px;
        }
    }
}

@media only screen and (max-width: 500px) {

    .blocks {
        width: 350px;
    }
    
    .blockItem {
        .blockHeight {
            width: 320px;
        }
        .blockHash {
            width: 320px;
        }
        .blockAge {
            width: 320px;
        }
    }
}

@media only screen and (max-width: 400px) {

    .blocks {
        width: 300px;
    }
    
    .blockItem {
        font-size: 16px;
        .blockHeight {
            width: 270px;
        }
        .blockHash {
            width: 270px;
        }
        .blockAge {
            width: 270px;
        }
    }
}