.container {
    margin-top: calc(50px*var(--factor));
    width: 100%;
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(26px*var(--factor));
    color: var(--text);
    border-radius: calc(50px*var(--factor));
    padding-top: calc(50px*var(--factor));
    padding-bottom: calc(50px*var(--factor));
}

.row {
    display: flex;
    align-items: center;
    height: calc(40px*var(--factor));
}

.lighterRow {
    color: var(--textLight);
    font-size: calc(22px*var(--factor));
}

.button {
    margin-top: calc(75px*var(--factor));
    width: calc(210px*var(--factor));
    height: calc(60px*var(--factor));
    border-radius: calc(30px*var(--factor));
    background-color: var(--buttonViewAllBackground);
    color: var(--buttonViewAllText);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(20px*var(--factor));
    box-shadow: var(--boxShadow) 0px 1px 4px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--buttonViewAllBackgroundHover);
    transform: translateY(-2px);
}