/*#scrollProgress {
    height: 3px;
    width: 0%;
}

#scrollProgressBlur {
    height: 2px;
    width: 0%;
    filter: blur(15px);
}

.scrollProgress {
    position: fixed;
    top: 0px;
    left: 0;
    background-color: var(--infoItemNetworkTextSpan);
    z-index: 100;
    border-radius: 0 5px 5px 0;
    transition: all 0.05s ease;
}*/

.header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: var(--background);
    justify-content: space-between;
    align-items: center;
}

.menuContainer {
    display: flex;
    width: 110px;
    height: 30px;
    margin-left: 20px;
    text-align: left;
    align-items: center;
}

.menu {
    transition: all 0.15s;
    animation-timing-function: cubic-bezier(.74, -0.01, .26, 1.04);
    color: var(--infoItemTextSpan);
}

.menu:hover {
    cursor: pointer;
    filter: var(--blocksListHoverFilter);
}

.searchBar {
    width: 500px;
    height: 30px;
    background-color: var(--searchBar);
    border: none;
    border-radius: 10px;
    text-align: center;
    color: var(--searchBarText);
    transition: all 0.15s;
    animation-timing-function: cubic-bezier(.74, -0.01, .26, 1.04);
}

.searchBar.error {
    background-color: var(--errorBackground);
    user-select: none;
    pointer-events: none;
}

.searchBar:focus {
    box-shadow: 0px 10px 10px var(--searchBarBoxShadow);
    background-color: var(--searchBarFocus);
}

input:focus {
    border: none;
    text-decoration: none;
    outline: none;
}

input:focus::placeholder {
    color: transparent;
  }

::placeholder {
    color: var(--placeholder);
}

.logoContainer {
    width: 110px;
    height: 30px;
    margin-right: 20px;
    text-align: right;
    :hover {
        cursor: pointer;
    }
}

.logo {
    width: auto;
    height: 100%;
}

.infoContainer {
    position: fixed;
    width: 100%;
    height: 30px;
    left: 0;
    top: 70px;
    display: flex;
    flex-direction: row;
    column-gap: 13px;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 2;
    background-color: var(--background);
}

.infoContainer.scrolled {
    background-color: transparent;
}

.infoContainerGradientSpacer {
    position: fixed;
    width: 100%;
    height: 10px;
    left: 0;
    top: 100px;
    background-color: var(--background);
    user-select: none;
    pointer-events: none;
}

.infoContainerGradientSpacer.scrolled {
    top: 70px;
}

.infoContainerGradient {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    top: 110px;
    background: var(--infoContainerGradient);
    user-select: none;
    pointer-events:none;
}

.infoContainerGradient.scrolled {
    top: 80px;
}

.gradientLeft {
    left: 0;
    background: var(--infoContainerGradientLeft);
    z-index: 2;
}

.gradientRight {
    right: 0;
    background: var(--infoContainerGradientRight);
    z-index: 2;
}

.gradientItem {
    position: fixed;
    width: 20px;
    height: 30px;
    top: 70px;
}

::-webkit-scrollbar {
    display: none;
}

.infoItem {
    color: var(--infoItemText);
    font-family: var(--monospace);
    font-weight: 400;
    height: 30px;
    min-width: fit-content;
    background-color: var(--infoItemBackground);
    border-radius: 10px;
    line-height: 30px;
    padding: 0px 15px;
    span {
        color: var(--infoItemTextSpan);
    }
    transition: all 0.15s;
    animation-timing-function: cubic-bezier(.74, -0.01, .26, 1.04);
}

.infoItem:first-child {
    margin-left: 15px;
    background-color: var(--infoItemNetworkBackground);
    color: var(--infoItemNetworkText);
    span {
        color: var(--infoItemNetworkTextSpan);
    }
}

.infoItem:nth-child(2) {
    display: block;
}

.infoItem.scrolled {
    transform: translateY(-3px);
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.priceUp {
    display: initial;
    background-color: var(--infoItemPriceUpBackground);
    color: var(--infoItemPriceUpText);
    span {
        color: var(--infoItemPriceUpTextSpan);
    }
}

.priceDown {
    display: initial;
    background-color: var(--infoItemPriceDownBackground);
    color: var(--infoItemPriceDownText);
    span {
        color: var(--infoItemPriceDownTextSpan);
    }
}

.sidebar {
    width: 220px;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: -220px;
    top: 0;
    background-color: var(--background);
    box-shadow:var(--sidebarShadow);
    border-radius: 0px 12px 12px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    pointer-events: none;
    transition: all 0.15s;
    animation-timing-function: cubic-bezier(.74, -0.01, .26, 1.04);
    .collapseSidebarField {
        position: fixed;
        width: 100%;
        left: 220px;
        height: 100%;
        background-color: none;
        z-index: -1;
    }
    .sidebarItemContainer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }
    .sidebarItem {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 175px;
        height: 60px;
        background-color: var(--blockItemBackground);
        color: var(--infoItemTextSpan);
        font-family: var(--sans-serif);
        font-weight: 500;
        font-size: 14px;
        border-radius: 12px;
        transition: all 0.05s linear;
        box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.18);
    }
    .sidebarItem:hover {
        filter: var(--blocksListHoverFilter);
        cursor: pointer;
    }
    .closeButton {
        margin-bottom: 20px;
        background-color: var(--infoItemTextSpan);
        color: var(--blockItemBackground);
    }
}

.sidebar.active {
    user-select: initial;
    pointer-events: initial;
    left: 0px;
}

@media only screen and (max-width: 950px) {

    .header {
        justify-content: space-between;
    }

    .searchBar {
        width: 100%;
        margin-right: 20px;
        text-align: left;
        text-indent: 20px;
    }

    ::placeholder {
        text-align: center;
    }

    .logoContainer {
        display: none;
    }

    #info10 {
        display: none;
    }
}

@media only screen and (max-width: 590px) {
    .infoItem {
        font-size: 14px;
    }
}


