.header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: var(--background);
    justify-content: space-between;
    align-items: center;
}

//to-do: Fix menu svg
.menuContainer {
    display: flex;
    width: 110px;
    height: 30px;
    margin-left: 20px;
    text-align: left;
    align-items: center;
}

.searchBar {
    width: 500px;
    height: 30px;
    background-color: var(--searchBar);
    border: none;
    border-radius: 10px;
    text-align: center;
    color: var(--searchBarText);
    transition: all 0.15s;
    animation-timing-function: cubic-bezier(.74, -0.01, .26, 1.04);
}

.searchBar:focus {
    box-shadow: 0px 10px 10px var(--searchBarBoxShadow);
    background-color: var(--searchBarFocus);
}

input:focus {
    border: none;
    text-decoration: none;
    outline: none;
}

input:focus::placeholder {
    color: transparent;
  }

::placeholder {
    color: var(--placeholder);
}

.logoContainer {
    width: 110px;
    height: 30px;
    margin-right: 20px;
    text-align: right;
}

.logo {
    width: auto;
    height: 100%;
}

.infoContainer {
    position: fixed;
    width: 100%;
    height: 30px;
    left: 0;
    top: 70px;
    display: flex;
    flex-direction: row;
    column-gap: 13px;
    overflow-x: auto;
    overflow-y: hidden;
    background: var(--infoContainerGradient);
}

.gradientLeft {
    left: 0;
    background: var(--infoContainerGradientLeft);
}

.gradientRight {
    right: 0;
    background: var(--infoContainerGradientRight);
}

.gradientItem {
    position: fixed;
    width: 20px;
    height: 30px;
    top: 70px;
}

::-webkit-scrollbar {
    display: none;
}

.infoItem {
    color: var(--infoItemText);
    font-family: var(--monospace);
    font-weight: 400;
    height: 30px;
    min-width: fit-content;
    background-color: var(--infoItemBackground);
    border-radius: 10px;
    line-height: 30px;
    padding: 0px 15px;
    span {
        color: var(--infoItemTextSpan);
    }
    transition: all 0.15s;
    animation-timing-function: cubic-bezier(.74, -0.01, .26, 1.04);
}

.infoItem:first-child {
    margin-left: 15px;
    background-color: var(--infoItemNetworkBackground);
    color: var(--infoItemNetworkText);
    span {
        color: var(--infoItemNetworkTextSpan);
    }
}

.infoItem:nth-child(2) {
    display: block;
    /*display: none*/
}

.infoItem.scrolled {
    transform: translateY(-3px);
    opacity: 0;
}

.priceUp {
    display: initial;
    background-color: var(--infoItemPriceUpBackground);
    color: var(--infoItemPriceUpText);
    span {
        color: var(--infoItemPriceUpTextSpan);
    }
}

.priceDown {
    display: initial;
    background-color: var(--infoItemPriceDownBackground);
    color: var(--infoItemPriceDownText);
    span {
        color: var(--infoItemPriceDownTextSpan);
    }
}


