<div class="main">
    <div *ngIf="loaded" class="blockPath"><span class="blockPathBlocks" routerLink="/">Blocks</span><span class="blockPathSpacer"> • </span><span class="blockPathMempool"> Mempool</span></div>
    <div *ngIf="!loaded" class="blockPathSkeletonContainer">
        <div class="blockPathSkeleton"></div>
    </div>

    <div *ngIf="!loaded" class="block" id="block">
        <div class="headingSkeleton"></div>
        <div class="tx" *ngFor="let skeleton of skeletons">
            <div class="txHash">
                <div class="blockHashSkeleton skeleton"></div>
            </div>
            <div class="txPaymentID">
                <div class="blockHashSkeleton skeleton"></div>
            </div>
            <div class="txSize">
                <div class="blockSizeSkeleton skeleton"></div>
            </div>
        </div>

    </div>

    <div *ngIf="loaded" class="block" id="block">
        <p id="MempoolHeading">Mempool: <span class="count">{{mempool.data!.txs.length}}</span></p>
        <div class="tx" id="txItem{{i}}" routerLink="/transaction/{{tx.tx_hash}}" *ngFor="let tx of mempool.data!.txs; let i = index">
            <div class="txHash">Hash: <span>{{tx.tx_hash.substring(0, 8)}}<span>•••</span>{{tx.tx_hash.substring(tx.tx_hash.length-8, tx.tx_hash.length)}}</span></div>
            <div class="txPaymentID" *ngIf="tx.payment_id8 != ''">Payment ID: <span>{{tx.payment_id8}}</span></div>
            <div class="txPaymentID" *ngIf="tx.payment_id8 == ''">Payment ID: <span>-</span></div>
            <div class="txSize">Size: <span>{{(tx.tx_size/1000).toFixed(3)}} kB</span></div>
        </div>

    </div>
</div>